{% extends 'site/master.html' %} {% block content %}

<h3>Home</h3>

{{ message['message'] }}

<ul>
    {% for user in users %}
        
    <li>{{ user.id }} - {{ user.name }} - {{ user.email }}</li>
    
    {% endfor %}
</ul>

{% endblock %}