{% extends 'site/master.html' %} {% block content %}

<h3>Create</h3>

<form action="/user/delete" method="post">
    {# criar o input hidden com essas propriedades para simular um PUT, DELETE, etc #}
    {# Em seguida chamar o método override no arquivo index.php #}
    <input type="hidden" name="_METHOD" value="DELETE">
    <button type="submit">Cadastrar</button>
</form>

{% endblock %}