@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Work+Sans:ital,wght@0,100;0,600;1,300;1,600&display=swap');

html, body{
    padding: 0;
    /* font-family: 'Work Sans', sans-serif; */
}